<div style="display: flex; flex-direction: column; height: 100%">
    <div style="flex-grow: 1; padding: 5px 5px 0 5px">
        <textarea placeholder="POI text" #text style="width: 100%; height: 100%;"></textarea>
    </div>
    <div style="padding: 12px 10px 0 10px; display: flex">
        <div style="flex: 1 0 0">
            <input type="text" style="width: 100%" class="large" [(ngModel)]="fileName" placeholder="points">
        </div>
        <div style="margin-left: 14px">
            <button (click)="saveGpx(text.value)" class="large">Save GPX</button>
        </div>
        <div style="margin-left: 6px">
            <button (click)="saveKml(text.value)" class="large">Save KML</button>
        </div>
        <a style="display: none" #downloadLink download="points.gpx">Download</a>
    </div>
</div>